<div class='ui container'>
    <div class='ui form'>
    <div class='field'>
    <p>First Name</p>
    <input type='text' id='first_name'/>
    </div>
    <br />
    <div class='field'>
    <p>Last Name</p>
    <input type='text' id='last_name'/>
    </div>
    <br />
    <div class='field'>
    <p>Phone Number </p>
    <input type='text' id='phone_number'/>
    </div>
    <button class='ui button' id="button">Add User</button>
    <%= link_to 'Back', users_path, class: 'ui button' %>
    </div>
    </div>